body, html{
  height:100%;
  width: 100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.nav{
  background: rgba(48, 48, 48, 0.838);
  border-bottom: 1px solid black;
  text-align: center;
  height: 70px;
  position: fixed;
  line-height: 70px;
  width: 100%;
  z-index: 10000;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
}

.menu{
  margin: 0 30px 0 0;
  z-index: 10000;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
}

.menu a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  line-height: 70px;
  transition: .1s ease-in-out;
  padding: 0 5px;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.767);
  color: rgba(48, 48, 48, 0.838);
  padding: 27px 10px;
}

.special{
  color: #2db957;
  font-weight: 700;
  transition: .5s ease-in-out;
}

.special2{
  color: #cf824e;
  font-weight: 700;
  transition: .5s ease-in-out;
}

label{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  color: rgb(255, 255, 255);
  display: none;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
}

#toggle{
  display: none;
}

@media(max-width:568px){

  .nav{
    z-index: 10000;
  }

  label {
    display: block;
    cursor: pointer;
    z-index: 10000;
  }

  .menu{
    text-align: center;
    width: 100%;
    display: none;
    z-index: 10000;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid black;
    color: black;
    margin: 0;
    z-index: 10000;
  }

  #toggle:checked {
    position: relative;
    z-index: 10000;
  }

  #toggle:checked + .menu{
    display: block;
    background: rgba(48, 48, 48, 0.838);
    z-index: 10000;
    
    
  }

  #toggle:checked + .menu a{
    line-height: 45px;
    z-index: 10000;
    color: white;
    transition: .2s ease-in-out;
  }

  #toggle:checked + .menu a:hover{
    background: rgba(245, 245, 245, 0.918);
    color: black;
    padding: 0px;
  }
}

.intro {
  background: #E84E40;
  background: -webkit-linear-gradient(top, #ffffff 0%, #E84E40 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #E84E40 100%);
  height: 300px;
  position: relative;
  top: 70px;
}
.intro:after {
  background: url('https://cdn4.iconfinder.com/data/icons/creative-process-16/512/Web_Developmen-512.png') center top no-repeat;
  background-size: 200px;
  content: '';
  height: 500px;
  left: 50%;
  position: absolute;
  width: 500px;
  top: 50px;
}


.intro:after {
  -webkit-animation: appear 1.5s 1 ease;
  -moz-animation: appear 1.5s 1 ease;
  -ms-animation: appear 1.5s 1 ease;
  -o-animation: appear 1.5s 1 ease;
}
@keyframes appear {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}
header {
  padding-top: 80px;
  padding-left: 200px;
}
header h1 {
  text-transform: uppercase;
}


/* Type write */
.typewriter p {
  font-family: monospace;
  font-size: 20px;
  letter-spacing: .15em;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid black;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 400px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}


:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  padding-top: 100px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

